// COLORS
// Color palette
$primary: #f4aa3a;
$secondary: #f4f4a1;
$dark: #272136;
$light: #ffffff;
$info: #778ad4;
$success: #23b893;
$warning: #f79926;
$danger: #ea535a;
// GLOBAL OPTIONS
// Shadows
$enable-shadows: true;
