[build]
command = "next build"
publish = ".next"
NETLIFY_USE_YARN = "true"

[[plugins]]
package = "@netlify/plugin-nextjs"

[functions]
external_node_modules = ["express"]
node_bundler = "esbuild"
included_files = ["./db.json", "./villains.json"]

[[redirects]]
force = true
from = "/api/*"
status = 200
to = "/.netlify/functions/api/:splat"
