.home-main-container {
    &__header {
        padding-inline-start: 200px;
        margin-block-end: 1rem;
    }
    &__cta__button {
        position: relative;
        left: 390px;
    }
}

.home-main {
    margin-block-end: 1rem;
}