.c-about {
    grid-column: m;
    margin-inline: $spacer * 0.5;
    background-color: wheat;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
                    "s s s s s s s s s s s s"
                    "m m m m m m m m m m m m";
    &__aside {
        grid-column: s;
        background-color: khaki;
    }
    &__main {
        grid-column: m;
        background-color: tomato;
    }
}

@media (min-width: $breakpoint-min-width-md ) {
    .c-about {
        grid-template-areas: 
                      "s s s s m m m m m m m m";
    }
}