.c-footer {
    grid-area: f;
    margin-inline: $spacer * 0.5;
    margin-block-start: $spacer;
    &__frame {
        border-block-start: 1px solid silver;
    }
    &__copyright {
        text-align: center;
        color: $dark;
        margin-block-end: 0;
    }
    &__mail {
        text-align: center;
        margin-block-start: 0;
    }
    &__mail-link {
        text-decoration: none;
        color: silver;
    }
}