.c-header {
  margin-inline: $spacer * 0.5;
  background-color: $lightest;
  grid-column: h;
  display: grid;
  gap: $spacer * 0.5;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "l l l l l l l l l l l l"
    "n n n n n n n n n n n n"
    "he he he he he he he he he he he he";
  &__logo-frame {
    grid-column: l;
    text-align: center;
    padding: $spacer;
  }
  &__logo {
    max-inline-size: 100%;
  }
  &__logo-link {
    display: block;
    padding: $spacer * 1.5;
  }
  &__nav {
    grid-column: n;
  }
  &__hero-frame {
    grid-column: he;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: $spacer * 0.5;
    list-style-type: none;
    padding: $spacer * 0.5;
  }
  &__list-link {
    text-decoration: none;
    display: block;
    padding-inline: $spacer;
    padding-block: $spacer * 0.5;
    background-color: $primary;
    color: $white;
  }
  &__form-control {
    padding: $spacer * 0.5;
    margin-inline-end: $spacer;
  }
  &__search-form-btn {
    padding: $spacer * 0.5;
    background-color: $primary;
    color: $white;
  }
  &__btn-dropdown {
    background-color: $primary;
    color: $white;
  }
  &__list-frame {
    display: none;
  }
  &__hero-img {
    max-inline-size: 100%;
  }
}

@media (min-width: $breakpoint-min-width-md ) {
    .c-header {
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
              "l l l l n n n n n n n n"
              "he he he he he he he he he he he he";
        &__btn-dropdown {
            display: none;
        }
        &__list-frame {
            display: block;
            padding-block-start: $spacer * 1.5;
        }
        &__list {
            flex-direction: row;
            align-items: center;
        }
    }
}
