.c-home {
    grid-column: m;
    margin-inline: $spacer * 0.5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
                    "s s s s s s s s s s s s"
                    "m m m m m m m m m m m m";
    &__aside {
        grid-column: s;
        display: flex;
        flex-direction: column;
        background-color: $lightest;
    }
    &__specials-frame {
        flex: 1 1 100%;
    }
    &__specials {
        max-inline-size: 100%;
        block-size: 500px;
    }
    &__main {
        grid-column: m;
        background-color: $lightest;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacer * 0.9;
        padding: $spacer;
        margin: unset;
    }
    &__card {
        flex: 1 1 25%;
        border: 1px solid $dark;
    }
    &__card-img {
        max-inline-size: 100%;
        padding: $spacer * 0.5;
    }
    &__card-body {
        padding-inline: $spacer;
        padding-block-end: $spacer;
    }
    &__card-btn {
        display: inline-block;
        padding: $spacer * 0.8;
        margin-block-end: $spacer * 0.3;
        border: 1px solid $primary;
        border-radius: 6px;
        color: $darkest;
        text-decoration: none;
    }
    &__card-btn:hover {
        background-color: $primary;
    }
}

@media (min-width: $breakpoint-min-width-md ) {
    .c-home {
        grid-template-areas: 
                      "s s s s m m m m m m m m";
        &__main {
            flex-direction: row;
            margin-inline-start: $spacer * 0.5;
        }
        &__aside {
            flex-direction: row;
            align-items: center;
        }
    }
}