.c-home {
    grid-area: m;
    margin-inline: $spacer * 0.5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
                    "s s s s s s s s s s s s"
                    "m m m m m m m m m m m m";
    &__aside {
        grid-area: s;
        display: flex;
        flex-direction: column;
        background-color: $lightest;
    }
    &__specials-frame {
        flex: 1 1 100%;
    }
    &__specials {
        max-inline-size: 100%;
        block-size: 500px;
    }
    &__main {
        grid-area: m;
        background-color: $lightest;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacer * 0.9;
        padding: $spacer;
        margin: unset;
    }
    &__card {
        flex: 1 1 25%;
        border: 1px solid $dark;
    }
    &__card-img {
        max-inline-size: 100%;
        padding: $spacer * 0.5;
    }
    &__card-body {
        padding-inline: $spacer;
        padding-block-end: $spacer;
    }
    &__card-btn {
        display: inline-block;
        inline-size: 100%;
        padding: $spacer * 0.8;
        padding-inline-start: $spacer * 5;
        margin-block-end: $spacer * 0.3;
        border: 1px solid $primary;
        border-radius: 6px;
        color: $darkest;
        text-decoration: none;
    }
    &__card-btn:hover {
        background-color: $primary;
    }
    &__cost {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.7;
    }
    &__cost-currency {
        font-size: $spacer * 2;
    }
    &__cost-dollars {
        font-size: $spacer * 4;
    }
    &__cost-cents {
        font-size: $spacer * 1.5;
        align-self: flex-start;
    }
    &__cta-button {
        display: inline-block;
        background-color: $primary;
        color: $white;
        padding: 0.5rem 1rem;
        text-decoration: none;
    }
    &__pricing {
        background-color: $white;
        block-size: 23rem;
    }
}

@media (min-width: $breakpoint-min-width-md ) {
    .c-home {
        grid-template-areas: 
                      "s s s s m m m m m m m m";
        &__main {
            flex-direction: row;
            margin-inline-start: $spacer * 0.5;
        }
        &__aside {
            flex-direction: row;
            align-items: center;
        }
    }
}