.c-navlink {
    &__list {
        display: flex;
        flex-direction: column;
    }
    a {
        flex: 1 1 20%;
        text-decoration: none;
        border: 1px solid $white;
        border-radius: 10px;
        padding-inline-start: $spacer;
        background-color: $primary;
        color: $white;
    }
}

@media (min-width: $breakpoint-min-width-md) {
    .c-navlink {
        &__list {
        }
        a {
        }
    }
}