.admin-root {

    header {
        margin-block-end: 2rem;
        padding-inline-start:  1.5rem;
    }
    .admin-nav {
        background-color: #f4aa3a;
        inline-size: 250px;
        a {
            color: white;
            border-bottom: 1px solid lighten(#f4aa3a, 40%);
        }
    }
}