.product-nav-container {
  &__navlist {
    list-style: none;
    margin-inline: 0;
    margin-block: 0;
    inline-size: 200px;

    &__item {
      border-left: 10px solid lighten(#f4aa3a, 40%);
      border-bottom: 1px solid lighten(#f4aa3a, 40%);

      &__link:link,
      &__link:visited {
        background-color: lighten(#f4aa3a, 80%);
        color: rgb(49, 52, 61);
        padding-inline: 0.5rem 0.5rem;
        padding-block: 0.5rem 0.5rem;
        display: block;
        text-decoration: none;
        border-left: 5px solid rgb(239, 213, 252);
      }
    }
  }
}
